<div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-4" id="dashboard_data">
  <%= render "summary", summary: %>
  <%= render "most_link_clicks_card", most_clicked_links: %>
  <%= render "total_clicked_by_day", total_clicked_by_day: %>
</div>
