<div class="md:col-span-2 flex flex-wrap space-x-2  rounded-lg border divide-x-2 divide-gray-200 border-gray-200 shadow-md p-6 bg-white">
  <div>
    <h2>Total Click</h2>
    <span><%= summary[:total_click] %></span>
  </div>
</div>
